extends layout

block content
  h1= title
  p Welcome to #{title} #{tampil}
  ul(id='list')

block script
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='/javascripts/kode.js')